body
{
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --color-background: #bdbdbd;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    font-size: 18px;
    background: var(--color-background);
	background-size: cover;
}

img
{
    width: 50%;
    height: auto;
    left: 30%;
    position: absolute;
}

.male
{
    top: 15vh;
	left: 60vh;
	height: 50vh;
    width: 35vh;
    max-width: 300px;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    position: absolute;
}

.female
{
    top: 15vh;
	left: 100vh;
	height: 50vh;
    width: 35vh;
    max-width: 300px;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    position: absolute;
}

.file_upload_male
{
    font: 500 1rem 'Quicksand', sans-serif;
    top: 45vh;
    left: 33%;
    position: absolute;
}

.file_upload_female
{
    font: 500 1rem 'Quicksand', sans-serif;
    top: 45vh;
    left: 33%;
    position: absolute;
}

.results
{
    left: 92vh;
    top: 60vh;
    position: absolute;
}

.homepage
{
    left: 92vh;
    top: 80vh;
    position: absolute;
}

.db
{
    top: 25%;
	left: 35%;
	height: 50vh;
    width: 50vh;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    position: absolute;
}

.logo
{
    top: 0%;
	left: 38%;
	height: 35vh;
    width: 35vh;
    padding: 2rem;
    position: absolute;
}

.policy
{
    top: 70%;
    left: 33%;
    height: 25vh;
    width: 60vh;
    padding: 2rem;
    position: absolute;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}
